.header {
  text-align: center;
  margin: 3rem auto;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

.header__title {
  font-size: 1.5rem;
}
